interns-management-ms/interns-management-dto-queue/src/main/resources/xsd/intern-v1.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://dto.alain.com">

    <xs:element name='Intern'>
        <xs:complexType>
            <xs:sequence>
            <xs:element name="idIntern" type="xs:integer"/>
            <xs:element name="firstName" type='xs:string'/>
            <xs:element name="lastName" type='xs:string'/>
        </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>